body {
	font-family: 'Oranienbaum', serif;
    height: 100%;
}

#controls #info {
    float: left;
    color: #999999;
    padding: 10px 0;
    position: absolute;
    left: 60%;  
    width: 20%;
    height: 100;
}

#controls #social {
    float: right;
    color: #999999;
    width: 10%;
    height: 100%;
    text-align: right;
}

/*Initialize*/
ul#menu, ul#menu ul.submenu {
    padding:0;
    margin: 0;
}

ul#menu {
    opacity: 0.5;
    background: #e9e5e4;     
}

ul#menu:hover {
    opacity: 1;
    transition: linear 0.4s;
}

ul#menu li, ul#menu ul.submenu li {
    list-style-type: none;
    display: inline;
    background: #e9e5e4; 
    padding: 5px;
}

ul#menu ul.submenu li {
    display: block;
    border-bottom: 1px solid #01176a;
}

/*Link Appearance*/
ul#menu li a, ul#menu li ul.submenu li a {
    text-decoration: none;
    color: #6070a3;
    display:inline-block;
}

ul#menu li a:hover, ul#menu li ul.submenu li a:hover {
    color: #01176a;
}
/*Make the parent of submenu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.submenu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
}
ul#menu li:hover ul.submenu {
    display:block;
}

