html {
    height: 100%;
}

body { 
    background: #ffffff; 
    font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
    -webkit-text-size-adjust:none;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    background: #ffffff;
}

section#target {
    width: 100%;
}



figure p {
    text-align:  center;
    color: white;
}

p {
    color: white;
}

#gallery figure {
    width: 30%;
    float: left;
    margin: 10px 10px 10px 10px;
}

#gallery figure a img {
    width: 100%;
    border: 5px solid white;
    opacity: 0.4;
}

#gallery figure a img:hover {
    opacity: 1;
}

/* nav */
.nav {
	position: relative;
	margin: 0px 0;
}
.nav ul {
	margin: 0;
	padding: 0;
    text-align: right;
}
.nav li {
	margin: 0 5px 0 0;
	padding: 0;
	list-style: none;
    display: inline-block;
    color:#000000; 
    font-weight:normal; 
    cursor: pointer;
}
.nav a {
	padding: 3px 12px;
	color: #999;
	line-height: 100%;
    color: #000000;
    text-decoration:none;     
}
.nav li:hover {
	background: lightgray;
	border-radius: 5px;
}
.current {
	background: #999;
	border-radius: 5px;
}

@media screen and (max-width: 650px) {
    
.nav {
    position: relative;
    height: 100%;
}      
    
.nav ul {
    background: white;
    text-align: center;
}
    
 .nav li {
     margin: 0;
     padding: 0;
     cursor: pointer;
     display: none;
}     

.nav ul:hover li {
    display: block;
}    
    
#start{
     display: block;
     margin: 0;
     padding: 0;
}   
    

	
}